html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')
    body(margin="auto")
      div.tabletLayout
        div.back
          a(href="/")
            img.backIcon(src="../img/icons-all/backicon.png")
        div.centeredPatient
            div.help
              span.helptext more help
            div.chartArea
              span.chartText Use the diagram as a guide.
              img.chart(src="../img/icons-all/full-setup.png")
        a(href="/removehands/")
          div.nextStep
            div.centered
              span Done