html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')
    body(margin="auto")
      div.homecontainer
        div.centered
          span Welcome to the Home-based therapy study. 
          br
          a(href='/taskgo/')
            div#beginButton Begin
          span Press the button above to begin.
