html
  head
    title=title
    script(src='/js/main.js')
    script(src='socket.io/socket.io.js')
    link(href='/css/style.css', rel='stylesheet')
  body
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    .controls
    input(type='button' id="enable" value="Enable")
        