html
    head
        title=title
        link(href='/css/style.css', rel='stylesheet')
        body(margin="auto")
            div.tabletLayout
                div.back
                    a(href="/")
                        img.backIcon(src="../img/icons-all/backicon.png")
                div.centeredPatient
                    div.centered
                        p Set up your objects.
                        p Place your right hand in the start position
                a(href="/taskgo/")
                    div.nextStep
                        div.centered
                            span Done
