html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')
    script(src='/js/taskstart.js')
    script(src='../socket.io/socket.io.js')
    body(margin="auto")
      div.tabletLayout
        div#backTest
          div.centered
            p End
        div#centeredPatientTest
            div.centered
              p Reset
        div#nextStepTest
            div.centered
              span Start
